main {
  padding-top: 150px;
}

main h2 {
  display: block;
  width: 95%;
  margin: 25px auto;
  font-family: "Playfair Display", serif;
  font-size: 1.7em;
  font-weight: 700;
  color: rgba(125, 153, 53, 0.9);
}

main .container-slide {
  width: 95%;
  margin: auto;
}

main .container-slide [class^="swiper-button-"], main .container-slide .container .container-right [class^="swiper-button-"], main .container .container-right .container-slide [class^="swiper-button-"] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .container-slide .swiper-slide, main .container-slide .container .container-right .swiper-slide, main .container .container-right .container-slide .swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

main .container-slide *,
main .container-slide *:before,
main .container-slide *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main .container-slide .swiper-container {
  width: 80%;
  height: 50vh;
  float: left;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

main .container-slide .swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}

main .container-slide .swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main .container-slide .swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

main .container-slide .swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

main .container-slide .swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}

@media screen and (max-width: 880px) {
  main .container-slide .swiper-container.nav-slider .swiper-slide .content .title {
    font-size: 15px;
  }
}

main .container-slide .swiper-container:hover .swiper-button-prev,
main .container-slide .swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

main .container-slide .swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

main .container-slide .swiper-slide {
  overflow: hidden;
}

main .container-slide .swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

main .container-slide .swiper-slide .entity-img {
  display: none;
}

main .container-slide .swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

main .container-slide .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 880px) {
  main .container-slide .swiper-slide .content .title {
    font-size: 2em;
    margin-bottom: 15px;
  }
}

main .container-slide .swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

main .container-slide .swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .container-slide [class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

main .container-slide .swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

main .container-slide .swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media screen and (max-width: 880px) {
  main {
    padding-top: 50px;
  }
}

main .container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

@media screen and (max-width: 1000px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .container .container-left {
  width: 77%;
}

@media screen and (max-width: 1000px) {
  main .container .container-left {
    width: 100%;
  }
}

main .container .container-left .noticias h2 {
  display: block;
  margin: 0px;
  width: 150px;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px;
  color: #fff;
  background: rgba(125, 153, 53, 0.9);
}

main .container .container-left .noticias .list-noticias {
  border-top: 8px solid rgba(125, 153, 53, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 19px 30px;
}

@media screen and (max-width: 880px) {
  main .container .container-left .noticias .list-noticias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 19px 0px;
  }
}

main .container .container-left .noticias .list-noticias .noticia {
  padding: 15px;
  position: relative;
  width: 45%;
}

@media screen and (max-width: 880px) {
  main .container .container-left .noticias .list-noticias .noticia {
    width: 100%;
    padding: 0px;
  }
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto img {
  width: 150px;
  height: 150px;
  margin: 10px;
  margin-right: 5px;
  background: #fff;
  margin-bottom: 20px;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto {
  margin-left: 20px;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto a {
  text-decoration: none;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto a h3 {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  line-height: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(125, 153, 53, 0.9);
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto a h3:hover {
  color: #3735a1;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto p {
  display: block;
  font-size: 16px;
}

main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto span {
  display: none;
}

@media screen and (max-width: 650px) {
  main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto p {
    display: none;
  }
  main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto span {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  main .container .container-left .noticias .list-noticias .noticia .imgTexto .texto a h3 {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
  }
}

main .container .container-left .noticias .list-noticias .noticia .primary-btn {
  display: block;
  margin-top: 20px;
  line-height: 38px;
  width: 150px;
  float: right;
  margin-left: 30%;
  border-radius: 0px;
  background: #ad9966;
  border: 1px solid #ad9966;
  color: #fff;
  font-weight: normal;
  position: relative;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

main .container .container-left .noticias .list-noticias .noticia .primary-btn:hover {
  background: transparent;
  color: #ad9966;
}

@media screen and (max-width: 880px) {
  main .container .container-left .noticias .list-noticias .noticia .primary-btn {
    margin: 0px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 15px;
    line-height: 30px;
    width: 130px;
  }
}

main .container .container-right {
  width: 20%;
  overflow: hidden;
}

main .container .container-right h2 {
  display: block;
  margin: 0px;
  width: 80%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1.2em;
  font-weight: 700;
  padding: 10px 0px;
  color: #fff;
  background: rgba(125, 153, 53, 0.9);
}

@media screen and (max-width: 1000px) {
  main .container .container-right h2 {
    width: 30%;
  }
}

main .container .container-right .swiper-container2 {
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  cursor: pointer;
  float: left;
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease;
  transition: opacity 0.6s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-top: 0px;
  border-top: 7px solid rgba(125, 153, 53, 0.9);
}

@media screen and (max-width: 1000px) {
  main .container .container-right .swiper-container2 {
    margin-top: 0px;
    border-top: 7px solid rgba(125, 153, 53, 0.9);
  }
}

main .container .container-right .swiper-slide {
  overflow: hidden;
}

main .container .container-right .swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

main .container .container-right .swiper-slide .entity-img {
  display: none;
}

main .container .container-right .swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

main .container .container-right .swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 880px) {
  main .container .container-right .swiper-slide .content .title {
    font-size: 2em;
    margin-bottom: 15px;
  }
}

main .container .container-right .swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease;
  transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

main .container .container-right .swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

main .container .container-right [class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

main .container .container-right .swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

main .container .container-right .swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media screen and (max-width: 1000px) {
  main .container .container-right {
    width: 100%;
  }
}

main .shape-img {
  background: rgba(125, 153, 53, 0.9);
  overflow: hidden;
  margin-top: 50px;
}

main .shape-img .container-cuy {
  width: 100%;
  margin: 20px auto;
  margin-left: 3%;
}

@media screen and (max-width: 800px) {
  main .shape-img .container-cuy {
    width: 95%;
  }
}

main .shape-img .container-cuy .cuy::before {
  content: " ";
  float: right;
  background-image: url("../img/cuy.png");
  background-size: 100% 100%;
  width: 552px;
  height: 410px;
  margin: -3px -54px 0 0;
  shape-outside: content-box polygon(1% 22.5%, 6% 9.4%, 11.2% 2.6%, 23.1% 3.6%, 31.5% 0.2%, 41% -0.7%, 45% 3%, 50.5% 3.8%, 54.1% 6.8%, 59.6% 10.8%, 66.1% 14.2%, 71.1% 25.6%, 71.6% 38.7%, 74.2% 42.9%, 86.2% 58.5%, 99.8% 76.5%, 99.7% 99.2%, 22.2% 100%, 15.9% 88.4%, 11.6% 76.4%, 8.4% 60.8%, 3.7% 50.1%, 0.2% 33.4%);
}

@media screen and (max-width: 800px) {
  main .shape-img .container-cuy .cuy::before {
    height: 0px;
  }
}

main .shape-img .container-cuy h2 {
  font-size: 28px;
  color: #fff;
  margin: 5px auto;
  text-align: center;
}

main .shape-img .container-cuy .title-cuy {
  font-size: 38px;
  margin: 10px auto;
}

main .shape-img .container-cuy h3 {
  font-size: 28px;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

main .shape-img .container-cuy p {
  font-size: 17px;
  color: #fff;
}

@media screen and (max-width: 880px) {
  main .shape-img .container-cuy p {
    text-align: center;
  }
}

main .shape-img .container-cuy .footer-cuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  main .shape-img .container-cuy .footer-cuy {
    width: 90%;
  }
}

@media screen and (max-width: 880px) {
  main .shape-img .container-cuy .footer-cuy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
}

main .shape-img .container-cuy .footer-cuy .estacion {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

main .shape-img .container-cuy .footer-cuy .estacion .imagen {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

main .shape-img .container-cuy .footer-cuy .estacion .texto p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

main .shape-img .container-cuy .footer-cuy .correo {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

main .shape-img .container-cuy .footer-cuy .correo .imagen {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

main .shape-img .container-cuy .footer-cuy .correo .texto p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

main .shape-img .container-cuy .footer-cuy .telefono {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

main .shape-img .container-cuy .footer-cuy .telefono .imagen {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

main .shape-img .container-cuy .footer-cuy .telefono .texto p {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

main .footer {
  background: rgba(0, 0, 0, 0.03);
  padding: 20px 0px;
  padding-bottom: 40px;
}

@media screen and (max-width: 880px) {
  main .footer {
    padding-bottom: 10px;
  }
}

main .footer .contenedor-verde {
  width: 85%;
  background: url("../img/fondo-footer.jpg");
  background-size: cover;
  margin: auto;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

main .footer .contenedor-verde .contenido-footer {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 35px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 880px) {
  main .footer .contenedor-verde .contenido-footer .contenido-footer-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column {
  width: 20%;
}

@media screen and (max-width: 880px) {
  main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column {
    width: 100%;
    margin-top: 30px;
  }
  main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column:nth-child(1) {
    margin-top: 0px;
  }
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column img {
  display: block;
  margin: auto;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column .text-center {
  text-align: center;
  margin: 4px auto;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column h3 {
  display: block;
  margin: 5px auto;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column h3 a {
  text-decoration: none;
  color: #fff;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column h3 a:hover {
  border-bottom: 1.5px dotted #fff;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-up .column hr {
  margin: 10px auto;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down {
  margin-top: 35px;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down h3 {
  text-align: center;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down h3 a {
  font-weight: 700;
  color: #d4ababb6;
  text-decoration: none;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down h3 a:hover {
  border-bottom: 2px dotted #fff;
  color: #ffffff;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .youtube,
main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .facebook,
main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .twitter {
  margin: 10px 15px;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .youtube a,
main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .facebook a,
main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .twitter a {
  display: block;
  text-decoration: none;
  background: #565668b6;
  color: #ffffff;
  font-weight: bold;
  line-height: 2.6em;
  margin-right: 15px;
  text-align: center;
  width: 2.6em;
  border-radius: 50%;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .youtube a:hover {
  background: #c4302b;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .facebook a:hover {
  background: #3b5998;
}

main .footer .contenedor-verde .contenido-footer .contenido-footer-down .redes-sociales .twitter a:hover {
  background: #00acee;
}
/*# sourceMappingURL=styleIndex.css.map */