* {
  padding: 0;
  margin: 0;
}
main {
  .container {
    padding-top: 200px;
    font-size: 20px;
    overflow: hidden;
    .horse {
      &:before {
        /*Cortesia de https://olivierforget.net/css-shape-outside/ */
        content: " ";
        float: left;
        background-image: url("../img/horse-head2.png");
        background-size: 100% 100%;
        width: 20%;
        height: 432px;
        shape-outside: content-box
          polygon(
            2.4% 26.3%,
            20% 17.5%,
            46.8% 14.2%,
            79.8% 21.3%,
            83.8% 49.5%,
            101.7% 61.2%,
            93.8% 87.8%,
            47.6% 88.7%,
            0 100%
          );
        @media screen and (max-width: 800px) {
          width: 40%;
        }
      }
    }
    p {
      width: 85%;
      margin: auto;
    }
  }
}
